---
interface Props {
  cover: string
  coverAlt: string
  description: string
  title: string
  href: string
  date: string
}

const { href, title, cover, coverAlt, description } = Astro.props
---

<div class="flex flex-col">
  <a href={href}>
    <div class="group relative aspect-video overflow-hidden rounded-sm">
      <img src={cover} alt={coverAlt} class="h-full w-full object-cover" />
      <div
        class="absolute inset-0 z-[1] bg-black/75 opacity-0 transition-opacity duration-300 [@media(pointer:fine)]:group-hover:opacity-100"
      >
        <div class="relative h-full w-full">
          <div
            class="absolute inset-x-0 bottom-0 translate-y-full transition-transform duration-300 group-hover:translate-y-0"
          >
            <div class="px-4 pb-2">
              <p class="line-clamp-3 text-lg text-white">
                {description}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="mt-2.5">
    <h2 class="text-xl font-semibold md:text-2xl">
      <a href={href} class="hover:underline hover:underline-offset-4">
        {title}
      </a>
    </h2>
  </div>
</div>
