---
import MainLayout from '@/layouts/MainLayout.astro'
import type { ContentSchema, Metadata } from '@babyn-yar/schema'
import { SSRPagination, MediaListItem, FloatImage } from '@/components/ui'

type Props = {
  list: ContentSchema.Content[]
  metadata: Metadata
  slug: string
  title: string
  description?: string
}

let { list, metadata, slug, title, description } = Astro.props

description ??= title
---

<MainLayout {title} {description}>
  <div class="not-prose">
    {
      list.map((e, i) => (
        <MediaListItem
          href={`/${slug}/${e.id}`}
          maxImgWidth={`${i === 0 ? 'md:max-w-[480px]' : 'md:max-w-[400px]'}`}
        >
          <h2
            slot="header"
            class={`${i === 0 ? 'text-3xl' : 'text-2xl'} font-bold text-black`}
          >
            {e.title}
          </h2>
          <FloatImage slot="left" src={e.cover} alt={e.title} />

          <p
            slot="right"
            class={`${
              i === 0 ? 'line-clamp-4' : 'line-clamp-2'
            } italic hover:underline hover:underline-offset-4`}
          >
            {e.description}
          </p>
        </MediaListItem>
      ))
    }
    <div class="mt-10">
      {
        list.length > 0 && metadata && (
          <SSRPagination
            current={metadata.currentPage}
            total={metadata.lastPage}
          />
        )
      }
    </div>
  </div>
</MainLayout>
